.el-drawer {
  .el-drawer__header {
    color: #082340;
    background-color: #ffffff;
    padding: 20px 25px;
    margin-bottom: 0;
    font-size: 16px;
    border: 1px solid #cad6ee;
  }

  &.ltr,
  &.rtl,
  &.ttb,
  &.btt {
    animation: none;
  }
}
