.el-dialog {
  .el-dialog__header {
    .el-dialog__title {
      color: #082340;
    }

    .el-dialog__headerbtn {
      .el-dialog__close::before {
        color: #082340;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .el-dialog__body {
    padding: 10px 20px;
    margin: 5px 0;
    border-top: 1px solid #CAD6EE;
    border-bottom: 1px solid #CAD6EE;
  }

  .el-dialog__footer {
    .el-button + .el-button {
      margin-left: 32px;
    }
  }
}