@import '../vars';

.el-drawer {
  box-shadow: none;

  &.rtl {
    top: @tool-bar-height;
    height: calc(100% - @tool-bar-height);
  }

  .el-drawer__header {
    border-color: #E6EBF2;
    align-items: flex-start;
  }

  .el-drawer__body {
    border: 1px solid #E6EBF2;
    border-top-width: 0;
  }
}

.el-button {
  padding: 8px 24px;
  min-height: 36px;

  & + .el-button {
    margin-left: 20px;
  }
}

// el-loading的样式
.el-loading-spinner {
  top: 0;
  left: 5px;
  margin-top: -3px;

  &::before {
    font-size: 14px;
  }

  .circular {
    width: 14px;
    height: 14px;
  }
}

.el-empty {
  padding: 0 0 10px;
}
// 输入框高度设置
.el-input {
  line-height: 36px;

  .el-input__inner {
    height: 36px;
    line-height: 36px;
  }
}
